---
http_interactions:
- request:
    method: post
    uri: https://testac.robotx.ru/BonusWebApi/SiteController/SetProfileInfo?LicenseGuid=f61d8b6a-a93c-4730-b7de-198e50109c8a
    body:
      encoding: UTF-8
      string: '{"LicenseGuid":"f61d8b6a-a93c-4730-b7de-198e50109c8a","ClientId":26144,"Cards":[{"CardCode":null,"AccumulateOnly":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"An error has occurred."}'
  recorded_at: Wed, 04 Dec 2019 12:20:09 GMT
recorded_with: VCR 4.0.0
