---
http_interactions:
- request:
    method: post
    uri: https://testac.robotx.ru/BonusWebApi/api/processing/sale
    body:
      encoding: UTF-8
      string: '{"LicenseGuid":"f61d8b6a-a93c-4730-b7de-198e50109c8a","DocumentDateTime":"2019-12-04
        19:20:12","DocumentDiscountDtos":[{"AccountId":36891,"CardCode":"2018103099010","SumBase":74,"SumDiscounted":74,"Discount":0,"Percent":0}],"DocumentDetailDtos":[{"ProductCode":"00001761","Quantity":2,"TotalPrice":74,"TotalPriceDiscounted":74,"MarketProgramId":0}],"CashierName":"","DocumentType":12,"DocumentCode":"100988","TotalSum":74,"TotalSumDiscounted":74,"used_gifts":[],"SiteOrderCode":32225}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SaleDiscountResponseDtos":[{"AccountId":36891,"CardCode":"2018103099010","AccountTypeId":1,"AddBonus":0.0,"RemoveBonus":0.0,"Balance":9.00,"ClientStatus":null}],"DocDetails":[{"DocumentDetailId":744685,"ProductCode":"00001761","Quantity":2.00,"TotalPrice":74.00,"TotalPriceDiscounted":74.00,"SpecialPrice":0.00,"SpecialPriceQuantity":0.00,"AddBonus":0.0,"MarketProgramId":0}],"ClientChipInfo":[],"Footer":null}'
  recorded_at: Wed, 04 Dec 2019 12:20:15 GMT
recorded_with: VCR 4.0.0
