---
http_interactions:
- request:
    method: post
    uri: https://testac.robotx.ru/BonusWebApi/api/processing/sale
    body:
      encoding: UTF-8
      string: '{"LicenseGuid":"f61d8b6a-a93c-4730-b7de-198e50109c8a","DocumentDateTime":"2020-01-13
        19:28:53","DocumentDiscountDtos":[{"AccountId":36891,"CardCode":"2018103099010","SumBase":74,"SumDiscounted":74,"Discount":0,"Percent":0}],"DocumentDetailDtos":[{"ProductCode":"00001761","Quantity":2,"TotalPrice":74,"TotalPriceDiscounted":74,"MarketProgramId":0}],"CashierName":"","DocumentType":12,"DocumentCode":"86544","TotalSum":74,"TotalSumDiscounted":74,"used_gifts":[],"SiteOrderCode":523122}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SaleDiscountResponseDtos":[{"AccountId":36891,"CardCode":"2018103099010","AccountTypeId":1,"AddBonus":0.0,"RemoveBonus":0.0,"Balance":30.00,"ClientStatus":null}],"DocDetails":[{"DocumentDetailId":1402688,"ProductCode":"00001761","Quantity":2.000,"TotalPrice":74.00,"TotalPriceDiscounted":74.00,"SpecialPrice":0.00,"SpecialPriceQuantity":0.00,"AddBonus":0.0,"MarketProgramId":0,"MarketProgramIsForced":false}],"ClientChipInfo":[],"Footer":null}'
  recorded_at: Mon, 13 Jan 2020 12:28:59 GMT
recorded_with: VCR 4.0.0
