---
http_interactions:
- request:
    method: post
    uri: https://testac.robotx.ru/BonusWebApi/api/processing/CancelOrder
    body:
      encoding: UTF-8
      string: '{"LicenseGuid":"f61d8b6a-a93c-4730-b7de-198e50109c8a","SiteOrderCode":523122,"DocumentType":14}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"SaleDiscountResponseDtos":[{"AccountId":0,"CardCode":null,"AccountTypeId":0,"AddBonus":0.0,"RemoveBonus":0.0,"Balance":30.00,"ClientStatus":null}],"DocDetails":null,"ClientChipInfo":null,"Footer":null}'
  recorded_at: Mon, 13 Jan 2020 12:29:59 GMT
recorded_with: VCR 4.0.0
