---
http_interactions:
- request:
    method: post
    uri: https://testac.robotx.ru/BonusWebApi/api/processing/cancel
    body:
      encoding: UTF-8
      string: '{"LicenseGuid":"f61d8b6a-a93c-4730-b7de-198e50109c8a","CardCode":"2018100000088","CardRegisterDateTime":"2019-12-04
        19:20:11","IsAdditionalCard":false,"AllowFullBonusPay":false,"RegisterDetailDtos":[{"PositionId":"1","ProductCode":"c8644e9a-7be7-11e9-0b93-e2feabc01182","TotalPrice":3000,"Quantity":6,"Properties":{}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: 'true'
  recorded_at: Wed, 04 Dec 2019 12:20:12 GMT
recorded_with: VCR 4.0.0
